main.tela1 {
    padding-top: 100px;
    padding-bottom: 100px;
}

main.tela1 article {
    width: 100%;
    max-width: 1100px;
    padding-left: 16px;
}

article .tela1-containerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}

article .tela1-containerTitle h1{
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

article .tela1-containerTitle ion-icon {
    font-size: 34px;
    color: var(--vermelho);
    cursor: pointer;
}

article .tela1-containerQuizz {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}

.tela1-quizz {
    position: relative;
    width: 100%;
    max-width: 340px;
    cursor: pointer;
}
.tela1-quizz img {
    border-radius: 5px;
    width: 100%;
}

.tela1-quizz .tela1-gradientQuizz {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
}

.tela1-quizz p {
    bottom: 20px;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 22px;
    font-weight: 400;
    position: absolute;
    text-align: center;
}

.tela1-everyQuizz {
    margin-top: 48px;
} 

@media (min-width: 1100px){
    main.tela1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    article .tela1-containerTitle {
        width: 178px;
    }

}