<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./asstes/img/icone.png" type="image/x-icon">
    <title>Buzz Quizz</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/global.css">
    <link rel="stylesheet" href="tela2.css">
</head>
<body>
    <header>
        <h1>BuzzQuizz</h1>
    </header>

    <div class="banner">       
        <h2>O quão Potterhead é você?</h2>
    </div>

    <main>
        <div class="card-quizz">
            <h3>Em qual animal Olho-Tonto Moody transfigurou Malfoy?</h3>
            <div class="respostas">
                <div class="item certo-errado-desmarcado">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHmXq_UovhRqnM96mGBIlrvg80vAinWuq0Vw&usqp=CAU" />
                    <p>Gatíneo</p>
                </div>
                <div class="certo-marcado item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHmXq_UovhRqnM96mGBIlrvg80vAinWuq0Vw&usqp=CAU" />
                    <p class="certo-marcado">Gatíneo</p>
                </div>
                <div class="item errado-marcado">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHmXq_UovhRqnM96mGBIlrvg80vAinWuq0Vw&usqp=CAU" />
                    <p>Gatíneo</p>
                </div>
                <div class="item certo-errado-desmarcado">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHmXq_UovhRqnM96mGBIlrvg80vAinWuq0Vw&usqp=CAU" />
                    <p>Gatíneo</p>
                </div>
            </div>
        </div>

        <div class="fim-quizz">
            <h3>88% de acerto: Você é praticamente um aluno de Hogwarts!</h3> 
            <div class="container">        
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHmXq_UovhRqnM96mGBIlrvg80vAinWuq0Vw&usqp=CAU" />
                <p>Parabéns Potterhead! Bem-vindx a Hogwarts, aproveite o loop infinito de comida e clique no botão abaixo para usar o vira-tempo e reiniciar este teste.</p>                
        
            </div>  
        </div>
    </main>
</body>
</html>